@model List<TeamViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="mainNavBar">
    <a class="active" href="#Home">Home</a>
    <a href="#Standings">Standings</a>
    <a href="#Drivers">Drivers</a>
    <a href="#Teams">Teams</a>
    <a href="#Circuits">Circuits</a>
</div>



@foreach(var team in Model)
{
    <div>
        @team.TeamName
    </div>
}