
@{
    ViewData["Title"] = "Index";
}

<div id="drivers">
    <div class="driver-page-title">
        <h1>Drivers</h1>
    </div>
    <div>
        <ul>
            <li v-for="driverName in driverNames">{{driverName}}</li>
        </ul>
    </div>





</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="~/js/Drivers.js" charset="utf-8"></script>

