
@{
    ViewData["Title"] = "Index";
}

    <div id="drivers-vueapp">
        <div class="driver-page-title">
            <h1>Drivers</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <transition name="fade">
                        <div class="drivers-details">
                            <div class="diver-name-container">
                                <p class="details-driver-firstname">
                                    {{selectedDriver.firstName}}
                                </p>
                                <div class="flag-container">
                                    <img v-bind:src="'CountryFlags/' + selectedDriver.country +'.png'" class="details-driver-flag" />
                                </div>
                                <h3 class="details-driver-lastname">
                                    {{selectedDriver.lastName}}
                                </h3>
                            </div>
                            <div class="driver-number">
                                <span class="driver-number-title">Driver Number:</span>
                                <span class="driver-number-value">{{selectedDriver.driverNumber}}</span>
                            </div>
                            <div class="driver-country">
                                <span class="driver-country-title">Country:</span>
                                <span class="driver-country-value">{{selectedDriver.country}}</span>
                            </div>
                            <div class="driver-dob">
                                <span class="driver-dob-title">DOB:</span>
                                <span class="driver-dob-value">{{selectedDriver.dob}}</span>
                            </div>
                            <div class="driver-place-of-birth">
                                <span class="driver-placeOfBirth-title">Place Of Birth:</span>
                                <span class="driver-placeOfBirth-value">{{selectedDriver.placeOfBirth}}</span>
                            </div>
                            <div class="driver-short-name">
                                <span class="driver-shortName-title">On Track Name:</span>
                                <span class="driver-shortName-value">{{selectedDriver.shortName}}</span>
                            </div>
                            <div class="driver-highest-result">
                                <span class="driver-highest-result-title">Highest Result:</span>
                                <span class="driver-highest-result-value">{{selectedDriver.highestResult}}</span>
                            </div>
                            <div class="driver-best-track">
                                <span class="driver-best-track-title">Most Successful Track:</span>
                                <span class="driver-best-track-value">{{selectedDriver.bestTrack}}</span>
                            </div>
                            <div class="driver-total-points">
                                <span class="driver-total-points-title">All time number of points:</span>
                                <span class="driver-total-points-value">{{selectedDriver.totalPoints}}</span>
                            </div>
                            <div class="driver-current-points">
                                <span class="driver-current-points-title">Current seasons points:</span>
                                <span class="driver-current-points-value">{{selectedDriver.totalPointsOfCurrentSeason}}</span>
                            </div>
                            <div class="driver-fastest-laps">
                                <span class="driver-fastest-laps-title">Total Race Fastest laps:</span>
                                <span class="driver-fastest-laps-value">{{selectedDriver.numRaceFastestLaps}}</span>
                            </div>
                            <div class="driver-races-completed">
                                <span class="driver-races-completed-title">Total Races completed:</span>
                                <span class="driver-races-completed-value">{{selectedDriver.numOfRacesCompleted}}</span>
                            </div>
                            <div class="driver-dnfs">
                                <span class="driver-dnfs-title">Total Number of DNFs:</span>
                                <span class="driver-dnfs-value">{{selectedDriver.numDNFs}}</span>
                            </div>
                            <div class="driver-completed-laps">
                                <span class="driver-completed-laps-title">Total laps completed:</span>
                                <span class="driver-completed-laps-value">{{selectedDriver.totalLapsComplete}}</span>
                            </div>
                            <div class="driver-total-championships">
                                <span class="driver-total-championships-title">Total Number of Championships:</span>
                                <span class="driver-total-championships-value">{{selectedDriver.numChapionships}}</span>
                            </div>
                            <div class="driver-best-season">
                                <span class="driver-best-season-title">Best Season:</span>
                                <span class="driver-best-season-value">{{selectedDriver.bestSeason}}</span>
                            </div>
                        </div>
                    </transition>
                </div>
                <div v-bind:class="[{'col-md-3': !driver.isVisable, 'col-md-12': driver.isVisable}]" v-for="driver in drivers">
                    <div class="driver-container" v-on:click="toggleDriverDetails(driver.id)">
                        <div class="diver-name-container">
                            <p class="driver-firstname">
                                {{driver.firstName}}
                            </p>
                            <div class="flag-container">
                                <img v-bind:src="'CountryFlags/' + driver.country +'.png'" class="driver-flag" width="46" height="30.6" />
                            </div>
                            <h3 class="driver-lastname">
                                {{driver.lastName}}
                            </h3>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>






    </div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="~/js/Drivers.js" charset="utf-8"></script>

