
@{
    ViewData["Title"] = "Index";
}
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="~/js/Drivers.js" charset="utf-8"></script>
}

<div id="drivers-vueapp">
    <div class="driver-page-title">
        <h1>Drivers</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" v-if="selectedDriver">
                <transition name="fade">
                    <div class="drivers-details">
                        <div class="diver-name-container">
                            <p class="details-driver-firstname">
                                {{selectedDriver.driverBio.firstName}}
                            </p>
                            <div class="flag-container">
                                <img v-bind:src="'CountryFlags/' + selectedDriver.driverBio.country +'.png'" class="details-driver-flag" />
                            </div>
                            <h3 class="details-driver-lastname">
                                {{selectedDriver.driverBio.lastName}}
                            </h3>
                        </div>
                        <div class="driver-number">
                            <span class="driver-number-title">Driver Number:</span>
                            <span class="driver-number-value">{{selectedDriver.driverBio.driverNumber}}</span>
                        </div>
                        <div class="driver-country">
                            <span class="driver-country-title">Country:</span>
                            <span class="driver-country-value">{{selectedDriver.driverBio.country}}</span>
                        </div>
                        <div class="driver-dob">
                            <span class="driver-dob-title">DOB:</span>
                            <span class="driver-dob-value">{{selectedDriver.driverBio.dob}}</span>
                        </div>
                        <div class="driver-place-of-birth">
                            <span class="driver-placeOfBirth-title">Place Of Birth:</span>
                            <span class="driver-placeOfBirth-value">{{selectedDriver.driverBio.placeOfBirth}}</span>
                        </div>
                        <div class="driver-short-name">
                            <span class="driver-shortName-title">On Track Name:</span>
                            <span class="driver-shortName-value">{{selectedDriver.driverBio.shortName}}</span>
                        </div>
                        <div class="driver-best-track">
                            <span class="driver-best-track-title">Most Successful Track:</span>
                            <span class="driver-best-track-value">{{selectedDriver.driverCareerStats.bestTrack}}</span>
                        </div>
                        <div class="driver-best-season">
                            <span class="driver-best-season-title">Best Season:</span>
                            <span class="driver-best-season-value">{{selectedDriver.driverCareerStats.bestSeason}}</span>
                        </div>

                        <div>
                            <table class="driver-stats-table">
                                <tr>
                                    <th>Year</th>
                                    <th data-toggle="tooltip" data-placement="top" title="Wins">W</th>
                                    <th data-toggle="tooltip" data-placement="top" title="Laps Lead">LL</th>
                                    <th data-toggle="tooltip" data-placement="top" title="Highest Result and Times Achived">HR</th>
                                    <th data-toggle="tooltip" data-placement="top" title="Completed Races">CR</th>
                                    <th data-toggle="tooltip" data-placement="top" title="Overtakes">O</th>
                                    <th data-toggle="tooltip" data-placement="top" title="Did Not Finish">DNF</th>
                                    <th data-toggle="tooltip" data-placement="top" title="Fastest Laps">FL</th>
                                    <th data-toggle="tooltip" data-placement="top" title="Total Points">TP</th>
                                    <th data-toggle="tooltip" data-placement="top" title="Top 10 finishes">TP10</th>
                                    <th data-toggle="tooltip" data-placement="top" title="Qually to Race Finish conversion">CR</th>
                                </tr>
                                <tr>
                                    <td>{{currentSeason}} Stats</td>
                                    <td>{{selectedDriver.driverSeasonStats.numOfRaceWins}}</td>
                                    <td>{{selectedDriver.driverSeasonStats.numOfLapsLead}}</td>
                                    <td>{{selectedDriver.driverSeasonStats.highestResult}} / {{selectedDriver.driverSeasonStats.totalNumOfHighestResult}}</td>
                                    <td>{{selectedDriver.driverSeasonStats.numOfRacesCompleted}}</td>
                                    <td>{{selectedDriver.driverSeasonStats.numOfOvertakes}}</td>
                                    <td>{{selectedDriver.driverSeasonStats.numDNFs}}</td>
                                    <td>{{selectedDriver.driverSeasonStats.numRaceFastestLaps}}</td>
                                    <td>{{selectedDriver.driverSeasonStats.totalPoints}}</td>
                                    <td>{{selectedDriver.driverSeasonStats.topTenFinishes}}</td>
                                    <td>30</td>
                                </tr>
                                <tr>
                                    <td>Career Stats</td>
                                    <td>{{selectedDriver.driverCareerStats.numOfRaceWins}}</td>
                                    <td>{{selectedDriver.driverCareerStats.numOfLapsLead}}</td>
                                    <td>{{selectedDriver.driverCareerStats.highestResult}} / {{selectedDriver.driverCareerStats.totalNumOfHighestResult}}</td>
                                    <td>{{selectedDriver.driverCareerStats.numOfRacesCompleted}}</td>
                                    <td>{{selectedDriver.driverCareerStats.numOfOvertakes}}</td>
                                    <td>{{selectedDriver.driverCareerStats.numDNFs}}</td>
                                    <td>{{selectedDriver.driverCareerStats.numRaceFastestLaps}}</td>
                                    <td>{{selectedDriver.driverCareerStats.totalPoints}}</td>
                                    <td>{{selectedDriver.driverCareerStats.topTenFinishes}}</td>
                                    <td>30</td>
                                </tr>
                            </table>
                        </div>




                    </div>
                </transition>
            </div>
            <div v-bind:class="[{'col-md-3': !driver.isVisable, 'col-md-12': driver.isVisable}]" v-for="driver in drivers">
                <div class="driver-container" v-on:click="toggleDriverDetails(driver.driverBio.id)">
                    <div class="diver-name-container">
                        <p class="driver-firstname">
                            {{driver.driverBio.firstName}}
                        </p>
                        <div class="flag-container">
                            <img v-bind:src="'CountryFlags/' + driver.driverBio.country +'.png'" class="driver-flag" width="46" height="30.6" />
                        </div>
                        <h3 class="driver-lastname">
                            {{driver.driverBio.lastName}}
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>






</div>


